<h3 class="mt-3 text-primary ">Blog App</h3>
<div id="topcontainer" class="container">
    <h1>Mean Stack Application</h1>
    <h5>Wel Come To The Mean Stack Blog Application </h5>
</div>
<div class="row mt-3">
    <div class="col-md-4 col-lg-4">
        <div class="card" >
            <img src="https://images.unsplash.com/photo-1614350292382-c448d0110dfa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c21hbGwlMjBpbWdhZ2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blog App</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <div class="card" >
            <img src="https://images.unsplash.com/photo-1612160882651-4d473fd5b54a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHNtYWxsJTIwaW1nYWdlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blog App</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <div class="card" >
            <img src="https://images.unsplash.com/photo-1612620486050-1462932b56e4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c21hbGwlMjBpbWdhZ2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blog App</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>
<!-- Second Row -->
<div class="row mt-3 mb-3">
    <div class="col-md-4 col-lg-4">
        <div class="card" >
            <img src="https://images.unsplash.com/photo-1612620486050-1462932b56e4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c21hbGwlMjBpbWdhZ2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blog App</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <div class="card" >
            <img src="https://images.unsplash.com/photo-1614350292382-c448d0110dfa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c21hbGwlMjBpbWdhZ2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blog App</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <div class="card" >
            <img src="https://images.unsplash.com/photo-1612160882651-4d473fd5b54a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHNtYWxsJTIwaW1nYWdlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blog App</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>